<html ng-app="pocketMoneyApp">
<head>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/firebase.js"></script>
	<script src="js/lib/angular-route.js"></script>
	<script src="js/lib/angularfire.min.js"></script>
	<script src="js/lib/angular-locale_nl-nl.js"></script>
	
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="AccountCtrl">

	<img src="img/verke.svg" class="piggy-image" />

	<div ng-show="accountID == -1" class="container main-content">
		Voer account ID in:<br/>
		<form class="form-inline" ng-submit="login()" name="loginForm">
			<div class="form-group" style="display: inline-block;">
				<input type="number" 
					ng-model="accountIdInput"
					max=999999 min=0 step=1 
					class="form-control" 
					style="max-width: 100px;"
					id="accountIdInput" name="accountIdInput" 
					required />
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">OK</button>
		</form>
	</div>
	
	<div ng-show="accountID != -1" class="container main-content">
	
		Zakgeld:<br /> 
		<h2>{{ (accountService.balanceEurocents.$value/100) | currency : "&euro; " }}</h2>


		<br/>
		<button type="button" ng-click="initGiveMoneyForm();" class="btn btn-default" ng-hide="showGiveMoneyForm">
			Geef zakgeld
		</button>
		
		<form class="form-inline" ng-show="showGiveMoneyForm" ng-submit="submitGiveMoney();" name="giveMoneyForm">
			<div class="form-group" style="display: inline-block;">
				<label for="giveAmount">&euro; &nbsp;</label>
				<input type="number" 
					ng-model="giveAmount"
					max=100 min=0.01 step=0.01 
					class="form-control" 
					style="max-width: 100px;"
					id="giveAmount" name="giveAmount" />
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="giveMoneyForm.$invalid">OK</button>
		</form>
		
		<br /><hr/><br />
		
		<button type="button" ng-click="addCustomEvent('crash');" class="btn btn-default">Add Event: Crash</button>
		<br/><br/>
		<button type="button" ng-click="addCustomEvent('Hello World');" class="btn btn-default">Add Event: Hello World</button>
		
		<h3>Events:</h3> 
		
		<div ng-repeat="evt in accountService.events | orderBy : '-time'">
			{{ evt.text }} 
			<a href="#" ng-click="deleteEvent(evt)">[x]</a>
			<span class="event-time">{{ evt.time | date : 'yyyy-MM-dd HH:mm'}}</span>
		</div>

	</div>


	<br />
	<br />
	<br />


	<script src="js/app.js"></script>
	<script src="js/service.js"></script>
	<script src="js/controller.js"></script>
</body>
</html>