body {
	background-color: #271D94;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
}

.main-content {
	background-color: #1D147D;
	border-color: #2D247D;
	border-width: 2px;
	border-radius: 8px;
	margin-top: 1em;
	z-index: 9;
	position: relative;
	padding: 1em;
	
	text-align: center;
}

.piggy-image {
	max-width: 9em;
	margin: 2em 0.5em 1em 0.5em;
	
	margin-left: 6%;
	margin-right: 6%;
	position: relative;
	
}

.event-time {
	display: block;
	font-size: 0.8em;
	color: #999999;
	margin-bottom: 0.5em;
}